{% extends 'pages.html.twig' %}
{% block cabecera %} Presupuestos {% endblock %}
{% block breadcrumb %} <li class="breadcrumb-item active">Lista presupuestos</li>{% endblock %}
{% block title %}Lista presupuestos{% endblock %}
{% block tablas %}

                {% set total = 0 %}
                {% set numero = 1 %}
                                                  
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card card-body printableArea">


                            <div class="row">
                                     <div class="pull-left col-md-12">
                                        <h1 align="center">{{tipo}} - ##002100{{ presupuesto.id }}##</h1>
                                    </div>


                            </div>
                            <div class="row">
                                     <div class="pull-left col-md-4">
                                        <img class="d-block img-fluid" src="{{ asset('img/Cabecera-A4.jpg') }}" alt="Cabecera A4">
                                        <br/>

                                    </div>

                                    <div class="col-md-8 pull-right text-right">
                                        <address class="pull-right text-right">
                                            <h4 class="font-bold">{{presupuesto.clientePe.nombreCl}} {{presupuesto.clientePe.apellidosCl}}</h4>
                                            <p class="text-muted ml-4">{{presupuesto.clientePe.direccionCl}}</p>
                                            <p class="mt-4"><b>Telefono :</b> <i class="fa fa-phone"></i> {{ presupuesto.clientePe.telefono1Cl }}</p>
                                            {% if tipo == "PRESUPUESTO" %}
                                            <p class="mt-4"><b>Fecha :</b> <i class="fa fa-calendar"></i> {{ "now"|date("m/d/Y") }}</p>
                                            <p class="font-bold">
                                            <h2>Total  {{ (presupuesto.importetotPe + presupuesto.importemanoobra)|format_currency('EUR', locale='es')  }}</h2>
                                            {% endif %}
                                            </p>
                                        </address>
                                    </div>

                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <div class="table-responsive mt-5" style="clear: both;">
                                        <table class="table table-hover">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Descripción</th>
                                                
                                                    <th class="text-right">Cantidad</th>
                                                
                                                    <th class="text-right">{% if precios == 'S' %}Coste unidad {% endif %}</th>
                                                    <th class="text-right">{% if precios == 'S' %}Total{% endif %}</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                            {% for detalle in presupuesto.ticket.detallecesta %}
                                                <tr>
                                                    <td class="text-center">{{ numero }}</td>
                                                    <td>{{ detalle.productoDc.descripcionPd }}</td>
                                                    <td class="text-right">{{ detalle.cantidadDc }} </td>
                                                    <td class="text-right"> {% if precios == 'S' %}{{ detalle.pvpDc  |format_currency('EUR', locale='es')  }}{% endif %} </td>
                                                    <td class="text-right"> {% if precios == 'S' %}{{ (detalle.cantidadDc * detalle.pvpDc ) |format_currency('EUR', locale='es')  }}{% endif %}</td>

                                                    {% set total = (detalle.cantidadDc * detalle.pvpDc) + total %}  
                                                    {% set numero = numero + 1 %} 
                                                </tr>
                                             {% else %}
                                                 <tr>
                                                     <td colspan="8">no records found</td>
                                                 </tr>
                                             {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="pull-right mt-4 text-right">
                                        <!-- <p>Sub - Total : {{ (total) |format_currency('EUR', locale='es')  }}</p>
                                         <hr>-->
                                        <p><h2><b>Materiales</b> I.V.A. Incluido : {{ (total) |format_currency('EUR', locale='es')  }}</h2>
                                    </div>

                                    <div class="clearfix"></div>

                                </div>
                            </div>
                            <div class="row">
                                {% if tipo == "FACTURA SIMPLIFICADA" %}
                
                                <div class="col-md-12">
                                    <table class="table table-hover">
                                          <thead>
                                                <tr>
                                                    <th ></th>
                                                    <th >Fecha</th>
                                                    <th >Adelanto</th>
                                                    <th >Total</th>
                                                    <th >Resto</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <th></th>
                                                    <th>{{ "now"|date("m/d/Y") }} *</th>
                                                    <th class="">{{ (presupuesto.importesnalPe) |format_currency('EUR', locale='es')  }}</th>
                                                    <th class="">{{ (presupuesto.importetotPe + presupuesto.importemanoobra) |format_currency('EUR', locale='es')  }}</th>
                                                    <th class="">{{ (presupuesto.importetotPe + presupuesto.importemanoobra - presupuesto.importesnalPe ) |format_currency('EUR', locale='es')  }}</th>
                                                </tr>
                                            </tbody>
                                    </table>
                                </div>
                                            


                            </div>
                            <hr>
                            <h6> * Este documento rectifica toda aquel con referencia ##002100{{ presupuesto.id }}## y fecha previa 
                                 {% else %}
                            </div>
                            <hr>
                                {% endif %}
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="table-responsive mt-5" style="clear: both;">
                                    <h2 class="fs-1 fw-bold"><i class="fa fa-wrench fs-1"></i>&nbsp;&nbsp;   Mano de obra</h2>
                                        <ul>
                                        {% set anterior = "" %}
                                        {% for manodeobra in presupuesto.manoObra %}
                                            {% if manodeobra.categoriaMo.TipoTm != anterior %}
                                                {% if not loop.first %}  

                                                    </ul>
                                                </li>
                                                <br/>
                                                {% endif %}
                                                <li scope="col"><h3>{{ manodeobra.categoriaMo.TipoTm}}</h3>
                                                    <ul>
                                                        <li align="left">{{ manodeobra.textoMo}}</li>
                                                                
                                            {% else %}
                                                        <li align="left">{{ manodeobra.textoMo}}</li>
                                            {% endif %}

                                            {% if  loop.last %}     
                                                    </ul>
                                                </li>
                                            {% endif %}

                                            {% set anterior = manodeobra.categoriaMo.TipoTm %}
                                        {% endfor %}
                                        </ul>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                        <hr>
                        <div class="text-right">
                            <button class="btn btn-danger" type="submit"> Proceed to payment </button>
                            <button id="print" class="btn btn-default btn-outline" type="button"> <span><i class="fa fa-print"></i> Print</span> </button>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
{% endblock %}
{% block formulario %}{% endblock %}
{% block jscustom %}
    <!-- This Page JS -->
    <script src="{{ asset('dist/js/pages/samplepages/jquery.PrintArea.js') }}"></script>
    <script>
    $(function() {
        $("#print").click(function() {
            var mode = 'iframe'; //popup
            var close = mode == "popup";
            var options = {
                mode: mode,
                popClose: close
            };
            $("div.printableArea").printArea(options);
        });
    });
    </script>
{% endblock %}