{% extends 'base.html.twig' %}

{% block title %}Lista presupuestos{% endblock %}
{% block cabecera %}Presupuestos{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active">Lista presupuestos</li>{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('assets/extra-libs/prism/prism.css') }}" rel="stylesheet">
    <style>
        .table > tbody > tr > td,
        .table > tbody > tr > th { border: none; }
    </style>
{% endblock %}

{% block body %}

    {# Calcular pagado #}
    {% set pagado = 0 %}
    {% for pago in presupuesto.ticket.pagos %}
        {% set pagado = pagado + pago.importePg %}
    {% endfor %}

    {# Calcular mano de obra pendiente #}
    {% set manoobrapdte  = 0 %}
    {% set manoobratotal = 0 %}
    {% for economico in economic %}
        {% if economico.aplicaEco == 'M' %}
            {% set manoobratotal = manoobratotal + economico.importeEco %}
            {% if economico.estadoEco == '1' %}
                {% set manoobrapdte = economico.importeEco %}
            {% endif %}
        {% endif %}
    {% endfor %}

    {# Tipo de documento a mostrar en cabecera #}
    {% if tipo == 'FACTURA FINAL' %}
        {% set titulodoc = 'FACTURA SIMPLIFICADA' %}
    {% elseif tipo == 'FACTURA SIMPLIFICADA' %}
        {% set titulodoc = 'RECIBÍ' %}
    {% elseif tipo == 'PRESUPUESTO' and estado == 'ACEPTADO' %}
        {% set titulodoc = 'PRESUPUESTO ACEPTADO' %}
    {% else %}
        {% set titulodoc = tipo %}
    {% endif %}

    {% set numero   = 1 %}
    {% set descuento = false %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-body printableArea">

                {# Cabecera con logo #}
                <div class="row justify-content-md-center">
                    <div class="col-lg-6 text-center">
                        <img class="rounded mx-auto d-block" src="{{ asset('img/Cabecera-A4.jpg') }}" alt="Cabecera A4">
                        <br>
                    </div>
                    <div class="col-lg-12">
                        <h5 class="text-center">N.I.F. : 53543499-M</h5>
                    </div>
                </div>

                {# Tabla de cabecera del documento #}
                <div class="col-md-12 mt-1">
                    <table class="table">
                        <thead>
                            <tr>
                                <th colspan="3"><h3 class="text-center">{{ titulodoc }}</h3></th>
                            </tr>
                            <tr>
                                <th class="text-center">Total</th>
                                <th class="text-center">Fecha</th>
                                <th class="text-center">Número</th>
                                <th colspan="4"></th>
                                <th colspan="2" class="text-end">Nombre:</th>
                                <td colspan="2" style="padding-left:10px">
                                    {{ presupuesto.clientePe.nombreCl }} {{ presupuesto.clientePe.apellidosCl }}
                                    {% if presupuesto.clientePe.DNI != '' %}(DNI: {{ presupuesto.clientePe.DNI }}){% endif %}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% if tipo == 'FACTURA SIMPLIFICADA' or tipo == 'FACTURA FINAL' %}
                                    <th class="text-center">{{ presupuesto.importetotPe|format_currency('EUR', locale='es') }}</th>
                                {% else %}
                                    <th class="text-center"><h2>{{ total|format_currency('EUR', locale='es') }} *</h2></th>
                                {% endif %}
                                <td class="text-center">{{ presupuesto.FechainiPe|date('d/m/Y') }}</td>
                                <td class="text-center">#002400{{ presupuesto.id }}#</td>
                                <td colspan="4"></td>
                                <th colspan="2" class="text-end">Dirección:</th>
                                <td colspan="2" style="padding-left:10px">{{ presupuesto.clientePe.direccionCl }}</td>
                            </tr>
                            <tr>
                                <th colspan="7"></th>
                                <th colspan="2" class="text-end">Teléfono:</th>
                                <td colspan="2" style="padding-left:10px">
                                    <i class="fa fa-phone"></i> {{ presupuesto.clientePe.telefono1Cl }}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                {# Tabla de líneas del presupuesto #}
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive mt-5">
                            <table class="table table-sm">
                                <thead>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th>Descripción</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">{% if precios == 'S' %}Coste unidad{% endif %}</th>
                                        <th class="text-center">{% if precios == 'S' %}Total{% endif %}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for detalle in presupuesto.ticket.detallecesta %}
                                        <tr>
                                            <td class="text-center"></td>
                                            <td>{{ detalle.productoDc.descripcionPd }} {{ detalle.textoDc }}</td>
                                            <td class="text-center">{{ detalle.cantidadDc }}</td>
                                            <td class="text-end">
                                                {% if precios == 'S' %}
                                                    {{ detalle.pvpDc|format_currency('EUR', locale='es') }}
                                                    {% if detalle.descuentoDc != 0 %}
                                                        <b>- {{ detalle.descuentoDc|number_format(2, '.', ',') }} %</b>
                                                        {% set descuento = true %}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td class="text-end">
                                                {% if precios == 'S' %}
                                                    {{ (detalle.cantidadDc * (detalle.pvpDc - (detalle.pvpDc * detalle.descuentoDc / 100)))|format_currency('EUR', locale='es') }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% set numero = numero + 1 %}
                                    {% else %}
                                        <tr>
                                            <td colspan="5">No se encontraron registros</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th class="text-center"></th>
                                        <th class="text-center"></th>
                                        <th class="text-center"><b>Importe Bruto</b></th>
                                        <th class="text-center"><b>I.V.A. (21%)</b></th>
                                        <th class="text-center"><b>Total</b></th>
                                    </tr>
                                    {% if precios == 'S' and descuento %}
                                        <tr>
                                            <td class="text-end" colspan="4"><b>Descuento Total:</b></td>
                                            <td class="text-end"><b>- {{ descuentototal|format_currency('EUR', locale='es') }}</b></td>
                                        </tr>
                                    {% endif %}
                                    <tr>
                                        <td class="text-center"></td>
                                        <td class="text-center"></td>
                                        <td class="text-center"><b>{{ (subtotal / 1.21)|format_currency('EUR', locale='es') }}</b></td>
                                        <td class="text-center"><b>{{ (subtotal - subtotal / 1.21)|format_currency('EUR', locale='es') }}</b></td>
                                        <td class="text-end"><b>{{ subtotal|format_currency('EUR', locale='es') }}</b></td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>

                {# Tabla de totales y pagos #}
                {% if tipo == 'FACTURA SIMPLIFICADA' or (tipo == 'PRESUPUESTO' and estado == 'ACEPTADO') %}
                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center"><b>Fecha</b></th>
                                        <th class="text-center"><b>Subtotal sin I.V.A.</b></th>
                                        <th class="text-center"><b>I.V.A.</b></th>
                                        <th class="text-center"><b>Total</b></th>
                                        {% if (presupuesto.importetotPe - presupuesto.importesnalPe) != 0 %}
                                            <th class="text-center"><b>Adelanto</b></th>
                                            <th class="text-center"><b>Resto</b></th>
                                        {% endif %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th class="text-center">{{ 'now'|date('d/m/Y') }}</th>
                                        <th class="text-center">{{ (presupuesto.importetotPe / 1.21)|format_currency('EUR', locale='es') }}</th>
                                        <th class="text-center">{{ (presupuesto.importetotPe - presupuesto.importetotPe / 1.21)|format_currency('EUR', locale='es') }}</th>
                                        <th class="text-center">{{ presupuesto.importetotPe|format_currency('EUR', locale='es') }}</th>
                                        {% if (presupuesto.importetotPe - presupuesto.importesnalPe) != 0 %}
                                            {% if tipo == 'PRESUPUESTO' and estado == 'ACEPTADO' %}
                                                <th class="text-center">{{ (pagado + manoobratotal - manoobrapdte)|format_currency('EUR', locale='es') }}</th>
                                                <th class="text-center"><h2>{{ (total - pagado - (manoobratotal - manoobrapdte))|format_currency('EUR', locale='es') }}</h2></th>
                                            {% else %}
                                                <th class="text-center">{{ pagado|format_currency('EUR', locale='es') }}</th>
                                                <th class="text-center"><h2>{{ (presupuesto.importetotPe - pagado)|format_currency('EUR', locale='es') }}</h2></th>
                                            {% endif %}
                                        {% endif %}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                {% endif %}

                {# Nota facturas simplificadas #}
                {% if tipo == 'FACTURA SIMPLIFICADA' %}
                    <p><small>* Este documento rectifica todo aquel con referencia ##002100{{ presupuesto.id }}## y fecha previa</small></p>
                {% endif %}

                {# Mano de obra — solo en presupuestos #}
                {% if tipo == 'PRESUPUESTO' %}
                    <div class="row">
                        <div class="col-md-8">
                            <div class="table-responsive mt-5">
                                <h2 class="fw-bold"><i class="fa fa-wrench"></i>&nbsp; Mano de obra</h2>
                                <ul>
                                    {% set anterior = '' %}
                                    {% for manodeobra in presupuesto.manoObra %}
                                        {% if manodeobra.textoMo != null %}
                                            {% if manodeobra.categoriaMo.TipoTm != anterior %}
                                                {% if not loop.first %}
                                                    </ul></li><br>
                                                {% endif %}
                                                <li><h3>{{ manodeobra.categoriaMo.TipoTm }}</h3>
                                                    <ul>
                                                        {% for texto in manodeobra.textoMo|split(';') %}
                                                            <li>{{ texto }}</li>
                                                        {% endfor %}
                                            {% else %}
                                                {% for texto in manodeobra.textoMo|split(';') %}
                                                    <li>{{ texto }}</li>
                                                {% endfor %}
                                            {% endif %}
                                            {% if loop.last %}
                                                    </ul></li>
                                            {% endif %}
                                        {% endif %}
                                        {% set anterior = manodeobra.categoriaMo.TipoTm %}
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# Nota de financiación — solo en presupuestos no aceptados #}
                {% if tipo != 'FACTURA SIMPLIFICADA' and tipo != 'FACTURA FINAL' and not (tipo == 'PRESUPUESTO' and estado == 'ACEPTADO') %}
                    <p>
                        * Importe final. Posibilidad de financiar a 12 meses sin intereses
                        <b>{{ financiacion.obtenermensualidad(2)|format_currency('EUR', locale='es') }} / mes</b>
                        — Sujeto a aprobación por RuralFinance
                        {% if tipo != 'PRESUPUESTO' %}
                            <br>* Importe abonado actualmente <b>{{ pagado|format_currency('EUR', locale='es') }}</b>
                            resto total <b>{{ (total - pagado)|format_currency('EUR', locale='es') }}</b>
                        {% endif %}
                    </p>
                {% endif %}

            </div>
            <hr>
            <div class="text-right">
                <button class="btn btn-danger" type="submit">Proceed to payment</button>
                <button id="print" class="btn btn-default btn-outline" type="button">
                    <i class="fa fa-print"></i> Print
                </button>
            </div>
        </div>
    </div>

{% endblock %}

{% block jscustom %}
    <script src="{{ asset('dist/js/pages/samplepages/jquery.PrintArea.js') }}"></script>
    <script>
    $(function () {
        $('#print').click(function () {
            $('div.printableArea').printArea({
                mode:     'iframe',
                popClose: false
            });
        });
    });
    </script>
{% endblock %}