<header class="home-header">
  <div class="container header-inner">

    <div class="site-logo">
      
      <img src="/Light-HTML/img/Logo2.png" alt="Pavimentos Gij칩n" class="site-logo">
    </div>

    <button class="menu-toggle" type="button" aria-label="Abrir men칰">
    <span></span>
    <span></span>
    <span></span>
    </button>
  </div>

  <div class="mobile-nav">
    <a href="{{ path('platoducha') }}">Ba침era por ducha</a>
    <a href="{{ path('integral') }}">Reforma de ba침o</a>
    <a href="{{ path('aboutus') }}" >
        30 a침os de experiencia
    </a>
    <a href="{{ path('blog') }}" >
        Consejos y gu칤a de reformas
    </a>            

    <a href="{{ path('iapresupuesto') }}" class="btn btn-primary">
      游눫 Presupuesto reforma ba침o
    </a>
  </div>
</header>
