{% extends 'base.html.twig' %}
{% form_theme form 'fields.html.twig' %}

{% block title %}Editar Producto{% endblock %}
{% block cabecera %}Editar Producto{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('productos_index') }}">Productos</a>
    </li>
    <li class="breadcrumb-item active">Editar</li>
{% endblock %}

{% block body %}
<div class="card">
    <div class="card-body">
        <div class="col-sm-12 col-lg-8">
            <div class="card">
                {{ form_start(form) }}
                <div class="card-body">
                    <h4 class="card-title">Datos del producto</h4>
                    <div class="row">
                        <div class="col-sm-12 col-md-8">
                            {{ form_label(form.descripcion_Pd, null, {label_attr: {class: 'control-label col-form-label'}}) }}
                            {{ form_errors(form.descripcion_Pd) }}
                            {{ form_widget(form.descripcion_Pd, {attr: {class: 'form-control', placeholder: 'Descripción'}}) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_label(form.tipo_pd_id, null, {label_attr: {class: 'control-label col-form-label'}}) }}
                            {{ form_errors(form.tipo_pd_id) }}
                            {{ form_widget(form.tipo_pd_id, {attr: {class: 'form-control select2'}}) }}
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-12 col-md-4">
                            {{ form_label(form.precio_Pd, null, {label_attr: {class: 'control-label col-form-label'}}) }}
                            {{ form_errors(form.precio_Pd) }}
                            {{ form_widget(form.precio_Pd, {attr: {class: 'form-control', placeholder: '0.00'}}) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_label(form.pvp_Pd, null, {label_attr: {class: 'control-label col-form-label'}}) }}
                            {{ form_errors(form.pvp_Pd) }}
                            {{ form_widget(form.pvp_Pd, {attr: {class: 'form-control', placeholder: '0.00'}}) }}
                        </div>
                        <div class="col-sm-12 col-md-4">
                            {{ form_label(form.stock_Pd, null, {label_attr: {class: 'control-label col-form-label'}}) }}
                            {{ form_errors(form.stock_Pd) }}
                            {{ form_widget(form.stock_Pd, {attr: {class: 'form-control', placeholder: '0'}}) }}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="form-group mb-0 text-left">
                        <button type="submit" class="btn btn-info waves-effect waves-light">
                            <i class="ti-save mr-1"></i> Guardar
                        </button>
                        <a href="{{ path('productos_index') }}" class="btn btn-secondary waves-effect waves-light ml-2">
                            <i class="ti-close mr-1"></i> Cancelar
                        </a>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block jscustom %}
<script>
    $(document).ready(function() {
        $('.select2').select2();
    });
</script>
{% endblock %}