    <h5 class="card-title">RESUMEN - {{ project.getCantidadTot(cestaId) }} PRODUCTOS  ({{ project.getPrecioTot(cestaId)|round(2)}}) <b>({{ project.getImporteTot(cestaId)|round(2) - project.getPrecioTot(cestaId)|round(2)}})</b></h5>
    {% if project.getCesta(cestaId).getdetallecesta is empty %}
    {% else %}
        <hr>
    {% endif %}
    {% for detalle in project.getCesta(cestaId).getdetallecesta %}
            <div><small>{{ detalle.cantidadDC }} - {{ detalle.productoDc.descripcionPd }}  <i class="fas fa-plus-circle fa-lg op-3 text-dark float-right" name="plus-minus" id="{{ detalle.id }}" data-cantidad="{{ detalle.cantidadDC }}"> </i> <i class="fas fa-minus-circle fa-lg op-3 text-dark float-right px-2" name="plus-minus" id="{{ detalle.id }}" data-cantidad="{{ detalle.cantidadDC }}"></i>  <i class="fas fa-times-circle fa-lg op-3 text-dark float-right" name="delete_detalle" id="{{ detalle.id }}" data-cantidad="{{ detalle.cantidadDC }} data-toggle="tooltip" data-placement="top" title="Borrar""> </i></small></div>
            <h3 class="text-right {% if detalle.precioDc == 0 %} text-danger {% endif %}">
            {{ (detalle.pvpDc * detalle.cantidadDC)}} </h3>

    {% endfor %}
    <hr>
    <small>Total Ticket</small>
    <h1 class="text-right" id="imptotal" data-importe="{{ project.getImporteTot(cestaId)  }}">{{ project.getImporteTot(cestaId) |format_currency('EUR', locale='en') }} </h1>
    <hr>
      {% set ticket = [project.getCestaArray(cestaId)] %}

    <div data-entry-info='{{ ticket|json_encode|raw }}'>
    </div>
    


