<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="reformas de baños, Gijón, diseño de baños, remodelación de cuartos de baño, accesorios de baños, decoración de interiores, presupuesto gratuito, azulejos para baños, platos de ducha, sanitarios, grifería de baño, instalación de bañeras, renovación de cuartos de baño, expertos en baños, calidad en reformas." name="keywords">
<meta content="Descubre las mejores reformas de baños en Gijón con nuestro equipo experto. Transformamos tu baño en un oasis de lujo y comodidad. Servicios de calidad, diseño personalizado y atención al detalle. Solicita tu presupuesto gratuito hoy mismo." name="description">
<meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
<meta property="og:title" content="Reformas integrales baños Gijón"/>
<meta property="og:url" content="https://pavimentosgijon.es" />
<meta property="og:site_name" content="Tienda de baño en gijón" />
<meta property="og:type" content="mainpage" />

<!-- page title -->
<title>Reformas integral de baños en Gijón | Pavimentos Gijón</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
</head>
<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
<header> 
  <!-- header upper -->
  <div class="header-upper">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6">
          <ul class="list-inline header-contact">
            <li class="list-inline-item"><a href="mailto:buzon@pavimentosgijon.es"><strong>E:</strong> buzon@pavimentosgijon.es</a></li>
            <li class="list-inline-item"><a href="tel:985391326"><strong>T:</strong> 985 391 356</a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="header-hours list-inline"><strong>Horario:</strong> Lun-Vie 10:15 a 13:00 - 16:30 a 19:30 </div>
        </div>
      </div>
    </div>
  </div>
  <!-- header upper end --> 
  <!-- header lover -->
  <div class="header-lover">
    <div class="container">
      <nav class="navbar navbar-expand-lg"> 
        <!-- logo --> 
        <a class="navbar-brand" href="{{ path('homepage')}}"><img src="img/logo.png" alt=""></a> 
        <!-- logo end -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbars01" aria-controls="navbars01" aria-expanded="false" aria-label="Toggle navigation"> <span></span> <span></span> <span></span> </button>
        <div class="collapse navbar-collapse" id="navbars01">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item "> <a class="nav-link" href="{{ path('homepage')}}" >Inicio</a> </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('aboutus')}}">Nosotros</a> </li>
            <li class="nav-item dropdown active"> <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown01" role="button" data-bs-toggle="dropdown" aria-expanded="false">Servicios</a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown01">
                <li><a class="dropdown-item" href="#">Reforma Integral</a></li>
                <li><a class="dropdown-item" href="{{ path('platoducha')}}">Bañera por ducha</a></li>
              </ul>
            </li>
            <li class="nav-item"> <a class="nav-link" href="{{ path('blog')}}">Blog</a>
            </li>
            <li class="nav-item"> <a class="nav-link"  href="{{ path('contacto')}}">Contacto</a> </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <!-- header lover end --> 
</header>
<!-- ================ Header end ================ -->   

<!-- ================ inner page header ================ -->
<div class="inner-page-title inner-page-header-bg">
  <div class="container">
    <div class="inner-page-title-c">
      <h1>Reformas integrales de baños en Gijón</h1>
      <div class="breadcrumb-box"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage')}}"><i class="bi bi-house"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Reformas baños</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- ================ inner page header end ================ --> 

<!-- ================ Single services page ================ -->
<div class="single-services-page pt-70 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <aside> 
          <!-- sidebar widget -->
          <div class="s-sidebar-widget mb-30">
            <h3>Pídenos presupuesto</h3>
          <!-- sidebar contcat -->
            <div class="sidebar-contcat">        
              <!-- contact form -->

              {{ form_start(form, {'attr' : { 'class': 'contact-form'}}) }}
              <!--<form class="contact-form" id="contact-form" method="post" action="contact.php" enctype="multipart/form-data">-->
                <div class="row">
                    <div class="mb-3">
          
                      <input type="text" class="form-control" name="{{ field_name(form.nombre)}}" placeholder="{{ field_label(form.nombre)}}" required data-error="Nombre no informado.">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="mb-3">
                      <input type="email" class="form-control" name="{{ field_name(form.email)}}" placeholder="{{ field_label(form.email)}}" required data-error="Email is required.">
                      <div class="help-block with-errors"></div>
                    </div>

                </div>
                
                <div class="mb-3">
                  <input type="text" placeholder="{{ field_label(form.telefono)}}" name="{{ field_name(form.telefono)}}" class="form-control" required data-error="Phone is required.">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="mb-3">
                  <textarea class="form-control" rows="3" name="{{ field_name(form.pregunta)}}" placeholder="{{ field_label(form.pregunta)}}" required data-error="Message is required."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="call-us-widget">
                  <button type="submit" id="consultas_submit"  class="save btn btn-style-1 w-100">Pedir presupuesto</button>
                </div>
                {{ form_end(form) }}
              <!-- contact form end --> 
            </div>
            <!-- sidebar contcat end --> 
          </div>
          <!-- sidebar widget end --> 
          
          <!-- sidebar widget -->
          <div class="s-sidebar-widget mb-30">
            <h3>Necesitas ayuda!</h3>
            <!-- call us widget -->
            <div class="call-us-widget">
              <ul class="mb-20">
                <li>También puedes escribirnos un mail a la dirección.</li>
                <a href="mailto:buzon@pavimentosgijon.es"><p>buzón@pavimentosgijon.es</p></a>
              </ul>
              <a href="mailto:buzon@pavimentosgijon.es" class="btn-style-1 w-100">Enviar Mail</a> </div>
            <!-- call us widget end --> 
          </div>
          <!-- sidebar widget end --> 
        </aside>
      </div>
      <div class="col-lg-9 mb-30"> 
        <!-- single service content -->
        <div class="single-service-content">
          <div class="single-service-img mb-20"><img src="img/services/single-service-img-1.jpg" alt=""></div>
          <h3 class="mb-15">Reformando un Baño: Nuestro Proceso</h3>
          <p>Bienvenido a Pavimentos Gijón, donde transformamos tus ideas en realidades con nuestro proceso de reforma integral de baños. Aquí te guiaremos a través de cada paso para asegurar una experiencia sin complicaciones y resultados altamente satisfactorios.</p>
          <p class="position-relative"><span class="p-quote">1</span><b>Visita de Medición</b> Realizamos una visita a tu hogar. En esta etapa, no solo medimos meticulosamente el espacio de tu baño, sino que también evaluamos la infraestructura existente, teniendo en cuenta las posibles limitaciones y oportunidades que el espacio pueda ofrecer. Esta evaluación detallada sienta las bases para un diseño óptimo y una ejecución sin contratiempos.</p>
          <p class="position-relative"><span class="p-quote">2</span><b>Entendiendo Tus Necesidades</b> No creemos en soluciones estándar. Durante la visita, nos sentamos contigo para entender tus necesidades y aspiraciones específicas. ¿Buscas optimizar el espacio? ¿Deseas una distribución que resulte accesible? Nos sumergimos en tus preferencias para personalizar cada aspecto de la reforma.</p>
          <p class="position-relative"><span class="p-quote">3</span><b>Asesoramiento personalizado</b> Una vez completada la medición, nuestros expertos te asesorarán en la distribución óptima del espacio y te guiarán en la selección de materiales. Desde azulejos hasta accesorios, nos aseguramos de que cada elemento cumpla con tus expectativas y se integre perfectamente en el diseño general.</p>          
          <p class="position-relative"><span class="p-quote">4</span><b>Presupuesto detallado</b> Después de la fase de asesoramiento, te entregamos un presupuesto detallado y transparente que refleja todos los aspectos del proyecto. Nos esforzamos por ser claros desde el principio, evitando en el 99 % de los casos sobrecostes sorpresa. Queremos que tengas una comprensión completa de la inversión necesaria. </p>                     
          <p class="position-relative"><span class="p-quote">5</span><b>Aprobación del Presupuesto</b> Una vez que has revisado y estás satisfecho con el presupuesto, procedemos a la siguiente fase. No hay presión, y estamos aquí para responder cualquier pregunta que puedas tener antes de tomar tu decisión.</p>                     
          <p class="position-relative"><span class="p-quote">6</span><b>Fijación de Fechas de Ejecución</b> Una vez que has aprobado el presupuesto, trabajamos contigo para fijar las fechas de ejecución del proyecto que se adapten a tu agenda. Nos esforzamos por ser flexibles y cumplir con los plazos acordados</p>                     
          <p class="position-relative"><span class="p-quote">7</span><b>Ejecución profesional</b> Nuestro equipo de profesionales altamente experimentados y de trato agradable toma la batuta. La ejecución del proyecto se lleva a cabo con precisión y atención al detalle, garantizando un resultado final que supera tus expectativas.</p>

            <p>En Pavimentos Gijón, nos enorgullece no solo transformar baños, sino también crear experiencias positivas para nuestros clientes. Confía en nosotros para cada etapa de tu proyecto de reforma integral de baño. ¡Déjanos hacer realidad tus sueños de baño!.</p>                               
          
          </div>
        </div>
        <!-- single service content end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Single services page end ================ --> 

<!-- ================ Call us area ================ -->
<div class="call-us-area">
  <div class="container">
    <div class="call-us-text">También por whatsapp  <a href="https://api.whatsapp.com/send/?phone=684608811" target="_blank"><i class="bi bi-whatsapp"></i> 684 608 811</a></div>
  </div>
</div>
<!-- ================ Call us area end ================ -->

<!-- ================ Footer area ================ -->
<footer class="footer-main"> 
  <!-- footer upper -->
  <div class="footer-upper pt-40 pb-30">
    <div class="container"> 
      <!-- footer contact -->
      <ul class="footer-contact list-inline">
        <li class="list-inline-item"><a href="https://maps.app.goo.gl/WJDtn32tn7yT33LA6" target="_blank"><strong>D:</strong> Avenida de Schultz 28 Bajo Gijón, 33209 Asturias</a></li>
        <li class="list-inline-item"><a href="mailto:buzon@pavimentosgijon.es"><strong>E:</strong> buzon@pavimentosgijon.es</a></li>
        <li class="list-inline-item"><a href="tel:985391326"><strong>T:</strong> 985 391 356</a></li>
      </ul>
      <!-- footer contact end --> 
      <!-- footer link -->
      <ul class="footer-link list-inline">
        <li class="list-inline-item"><a href="{{ path('homepage')}}">Inicio</a></li>
        <li class="list-inline-item"><a href="{{ path('aboutus')}}">Nosotros</a></li>
        <li class="list-inline-item"><a href="{{ path('blog')}}">Blog</a></li>
        <li class="list-inline-item"><a href="{{ path('contacto')}}">Contacta</a></li>
      </ul>
      <!-- footer link end --> 
    </div>
  </div>
  <!-- footer upper end --> 
  <!-- footer copyright -->
  <div class="footer-copyright text-center">
    <div class="container">
      <p class="mb-0">© <span class="current-year"></span> All Rights Reserved.</p>
    </div>
  </div>
  <!-- footer copyright end --> 
</footer>
<!-- ================ Footer area end ================ --> 
<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>
</body>
</html>