<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="reformas de ba帽os, Gij贸n, dise帽o de ba帽os, remodelaci贸n de cuartos de ba帽o, accesorios de ba帽os, decoraci贸n de interiores, presupuesto gratuito, azulejos para ba帽os, platos de ducha, sanitarios, grifer铆a de ba帽o, instalaci贸n de ba帽eras, renovaci贸n de cuartos de ba帽o, expertos en ba帽os, calidad en reformas." name="keywords">
<meta content="Cambiar tu mampara de ba帽o es muy sencillo, si tienes a los profesionales adecuados. En Pavimentos Gij贸n estudiamos todas las posibilidades y te ofrecemos una mampara que se adapte a sus necesidades." name="description">
<meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
<meta property="og:title" content="Cambiar mampara de ba帽o en Gij贸n"/>
<meta property="og:url" content="https://www.pavimentosgijon.es/" />
<meta property="og:site_name" content="Tienda de reformas de ba帽o en gij贸n" />
<meta property="og:type" content="website" />

<!-- page title -->
<title>Cambio mampara de ducha en Gij贸n | Pavimentos Gij贸n</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
<link rel="canonical" href="https://www.pavimentosgijon.es/mamaparas-bano-gijon" />

</head>
<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
  {% include 'apgijon/header.html.twig' %}
<!-- ================ Header end ================ -->   

<!-- ================ inner page header ================ -->
<div class="inner-page-title inner-page-header-bg">
  <div class="container">
    <div class="inner-page-title-c">
      <h1>Cambiar mampara de ba帽o en Gij贸n</h1>
      <div class="breadcrumb-box"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage')}}"><i class="bi bi-house"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cambiar mampara de ba帽o</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- ================ inner page header end ================ --> 

<!-- ================ Single services page ================ -->
<div class="single-services-page pt-70 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <aside> 

          <!-- sidebar widget -->
        <div class="s-sidebar-widget mb-30 text-center">
          <h3>P铆denos presupuesto</h3>
          <p class="mb-3">Charla con nuestro asistente y obt茅n el presupuesto al momento.</p>

          <a class="btn-style-1 btn-cta-presupuesto" id="btnPresupuestoHero" href="{{ path('iapresupuesto') }}">
             Calcula tu presupuesto ahora
          </a>
        </div>
          <!-- sidebar widget end --> 

          
          
        </aside>
      </div>
      <div class="col-lg-9 mb-30"> 
        <!-- single service content -->
        <div class="single-service-content">
          <div class="single-service-img mb-20"><img src="{{ asset('/Light-HTML/img/services/mamparas.webp')}}" alt="Mamparas de ba帽o"></div>
          <h2 class="mb-15">Cambiar mampara de ba帽o en Gij贸n: Que tener en cuenta</h2>
          <p>Bienvenido a nuestra secci贸n especializada en el cambio de mamparas de ducha, donde la profesionalidad y la experiencia se unen para transformar tu espacio de ba帽o. En Pavimentos Gij贸n, entendemos que la elecci贸n de una nueva mampara no es solo un cambio est茅tico, sino una inversi贸n en comodidad y funcionalidad.</p>
          <p>Con a帽os de experiencia en el asesoramiento y colocaci贸n de mamparas, nuestro equipo de expertos se enorgullece de ofrecer soluciones personalizadas que van m谩s all谩 de la simple instalaci贸n. Cada proyecto es una oportunidad para demostrar nuestra dedicaci贸n a la calidad, desde la elecci贸n del tipo de mampara hasta la medici贸n precisa y la instalaci贸n impecable.
          <p>Los elementos clave que gu铆an nuestro enfoque: los diferentes tipos de mamparas, donde podr谩 elegir entre correderas, abatibles, plegables y fijas, la importancia de una medici贸n meticulosa, nuestra dedicaci贸n a la instalaci贸n profesional, la transparencia en los presupuestos y la garant铆a respaldada por nuestra experiencia</p>
          <p>Conf铆a en nosotros para llevar tu cambio de mampara al siguiente nivel, donde la excelencia y la atenci贸n al detalle se encuentran en cada paso del proceso. Tu satisfacci贸n es nuestra prioridad, y estamos listos para hacer realidad tus ideas de un ba帽o renovado y funcional.</p>
          </div>
        </div>
        <!-- single service content end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Single services page end ================ --> 

<!-- ================ Gallery page ================ -->
<div class="gallery-page pt-70 pb-40">
  <div class="container">
    <h3 class="mb-15">Nuestros trabajos en cambio de mamparas de ba帽o</h3>  
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
      <div class="col mb-30"> 
        <!-- gallery box -->
        <div class="gallery-box">
          <div class="image"><img src="{{ asset('/Light-HTML/img/gallery/mampara1-mini.jpeg')}}" alt="Sustituci贸n de Mampara de ba帽o en Gij贸n"></div>
          <a href="{{ asset('/Light-HTML/img/gallery/mampara1.jpeg')}}" class="zoom venobox" data-gall="gallery1"><i class="bi bi-camera"></i></a> 
        </div>
        <!-- gallery box --> 
        <div class="blog-item-content">
            <h6><a href="{{ asset('/Light-HTML/img/gallery/mampara1.jpeg')}}" class="zoom venobox" data-gall="gallery1">Mampara frontal corredera</a></h6>
            <p>Soluci贸n adaptada a un plato de ducha de loza frontal que ha mejorado el aspecto general del ba帽o</p>
          </div>         
      </div>

      <div class="col mb-30"> 
        <!-- gallery box -->
        <div class="gallery-box">
          <div class="image"><img src="{{ asset('/Light-HTML/img/gallery/mampara2-mini.jpeg')}}" alt="Cambio solamente de Mampara de ba帽o en Gij贸n"></div>
          <a href="{{ asset('/Light-HTML/img/gallery/mampara2.jpeg')}}" class="zoom venobox" data-gall="gallery1"><i class="bi bi-camera"></i></a> 
        </div>
        <!-- gallery box --> 
        <div class="blog-item-content">
            <h6><a href="{{ asset('/Light-HTML/img/gallery/mampara2.jpeg')}}" class="zoom venobox" data-gall="gallery1">Mampara semicircular</a></h6>
            <p>Plato de loza sustituido se adapt贸 al anterior y mampara semicircular</p>
          </div>         
      </div>      

    </div>
  </div>
</div>
<!-- ================ Gallery page end ================ --> 

<!-- ================ Call us area ================ -->
<div class="call-us-area">
  <div class="container">
    <div class="call-us-text">Tambi茅n por whatsapp  <a href="https://api.whatsapp.com/send/?phone=684608811" target="_blank"><i class="bi bi-whatsapp"></i> 684 608 811</a></div>
  </div>
</div>
<!-- ================ Call us area end ================ -->

<!-- ================ Footer area ================ -->
  {% include 'apgijon/footer.html.twig' %}
<!-- ================ Footer area end ================ --> 
<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WH8B9E41FY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WH8B9E41FY');
</script>
<script language = "javascript">
    $(document).ready(function(){   


    // Obtener la URL actual en Symfony y normalizarla
    var urlActual = "{{ url(app.request.attributes.get('_route')) | replace({'https://127.0.0.1:8000': '', 'https://www.pavimentosgijon.es': ''}) }}";
    
    // Obtener todas las etiquetas <a> con la clase "nav-link"
    var enlacesNav = document.querySelectorAll('a.nav-link');

    // Recorrer los enlaces y agregar la clase "active" al enlace correspondiente
    enlacesNav.forEach(function(enlace) {
        // Obtener el atributo "href" del enlace y normalizarlo
        var hrefEnlace = enlace.getAttribute('href');
        console.log(hrefEnlace);
        console.log(urlActual);
        // Comparar el atributo "href" con la URL actual
        if (urlActual == hrefEnlace) {

           console.log("coincide");
            // Si hay coincidencia, agregar la clase "active" al enlace
            var liPadre = enlace.parentNode;
            liPadre.classList.add('active');            

        }
    });
    


      });  
</script> 

</body>


</html>