<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="reformas de baños, Gijón, diseño de baños, remodelación de cuartos de baño, accesorios de baños, decoración de interiores, presupuesto gratuito, azulejos para baños, platos de ducha, sanitarios, grifería de baño, instalación de bañeras, renovación de cuartos de baño, expertos en baños, calidad en reformas." name="keywords">
<meta content="Descubre las mejores reformas de baños en Gijón con nuestro equipo experto. Transformamos tu baño con un servicio de calidad, diseño personalizado y atención al detalle. Solicita tu presupuesto gratuito hoy mismo." name="description">
<meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
<meta property="og:title" content="Reformas integrales baños Gijón"/>
<meta property="og:url" content="https://pavimentosgijon.es" />
<meta property="og:site_name" content="Tienda de baño en gijón" />
<meta property="og:type" content="mainpage" />

<!-- page title -->
<title>Pavimentos Gijón Quienes Somos</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
</head>

<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
  {% include 'apgijon/header.html.twig' %}
<!-- ================ Header end ================ --> 
<!-- ================ inner page header ================ -->
<div class="inner-page-title inner-page-header-bg">
  <div class="container">
    <div class="inner-page-title-c">
      <h1>Reformamos tu baño en Gijón</h1>
      <div class="breadcrumb-box"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage')}}"><i class="bi bi-house"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Nosotros</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- ================ inner page header end ================ --> 

<!-- ================ About area ================ -->
<div class="about-area bg-light pt-70 pb-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mb-30">
        <div class="about-text">
          <h4>Sobre nosotros</h4>
          <h2 class="mb-20">Quienes somos</h2>
          <p>Bienvenido a Pavimentos Gijón, donde fusionamos más de tres décadas de experiencia con un trato cercano y colaborativo en cada proyecto. Desde 1992, nos dedicamos apasionadamente a ofrecer soluciones integrales para transformar tu baño en un espacio elegante y cómodo.<br>

Nos enorgullece destacar por nuestra seriedad y compromiso con la satisfacción del cliente. En cada proyecto, desde reformas integrales hasta el cambio de bañeras por duchas, contamos con un equipo multidisciplinario que incluye albañiles, fontaneros, electricistas, pintores, escayolistas y más.<br>

Colaboramos estrechamente con estos profesionales altamente cualificados para asegurar que cada aspecto de tu proyecto se lleve a cabo con precisión y dedicación. <br> 
Además de ofrecer productos de alta calidad, nos esforzamos por crear una experiencia sin complicaciones y amena.

Visítanos en nuestra ubicación en <a href="https://maps.app.goo.gl/WJDtn32tn7yT33LA6" target="_blank"> Avenida Schultz 28, Gijón </a>, y explora nuestra extensa gama de productos para el baño. <br> 
Únete a nuestra larga lista de clientes satisfechos que han experimentado la diferencia de trabajar con un equipo comprometido, cercano y profesional en cada etapa de su transformación de baño.</p>
         </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1 mb-30">
        <div class="about-img"> <img src="{{ asset('/Light-HTML/img/about/nosotros.jpeg')}}" alt="Reforma integral baño moderno Gijón">
          <div class="experience-div"> <strong>30+</strong>
            <p>Años de experiencia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ About area end ================ --> 

<!-- ================ Call us area ================ -->
<div class="call-us-area">
  <div class="container">
    <div class="call-us-text">Tienes alguna pregunta: Nuestro whatsapp  <a href="https://api.whatsapp.com/send/?phone=684608811" target="_blank"><i class="bi bi-whatsapp"></i> 684 608 811</a></div>
  </div>
</div>
<!-- ================ Call us area end ================ --> 


<!-- ================ Footer area ================ -->
  {% include 'apgijon/footer.html.twig' %}
<!-- ================ Footer area end ================ --> 

<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>

<script language = "javascript">
    $(document).ready(function(){   


    // Obtener la URL actual en Symfony y normalizarla
    var urlActual = "{{ url(app.request.attributes.get('_route')) | replace({'https://127.0.0.1:8000': '', 'https://www.pavimentosgijon.es': ''}) }}";
    
    // Obtener todas las etiquetas <a> con la clase "nav-link"
    var enlacesNav = document.querySelectorAll('a.nav-link');

    // Recorrer los enlaces y agregar la clase "active" al enlace correspondiente
    enlacesNav.forEach(function(enlace) {
        // Obtener el atributo "href" del enlace y normalizarlo
        var hrefEnlace = enlace.getAttribute('href');
        console.log(hrefEnlace);
        console.log(urlActual);
        // Comparar el atributo "href" con la URL actual
        if (urlActual == hrefEnlace) {

           console.log("coincide");
            // Si hay coincidencia, agregar la clase "active" al enlace
            var liPadre = enlace.parentNode;
            liPadre.classList.add('active');            

        }
    });
    


      });  
</script> 
</body>
</html>