<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="reformas de baños, Gijón, diseño de baños, remodelación de cuartos de baño, accesorios de baños, decoración de interiores, presupuesto gratuito, azulejos para baños, platos de ducha, sanitarios, grifería de baño, instalación de bañeras, renovación de cuartos de baño, expertos en baños, calidad en reformas." name="keywords">
<meta content="Transformamos tu baño en solo 24 horas: cambiamos tu bañera por una ducha para ofrecerte comodidad y seguridad inmediatas. Descubre nuestra solución rápida y asequible para disfrutar de un baño renovado según tus necesidades. ¡Experimenta la conveniencia de una ducha moderna con un presupuesto muy ajustado!." name="description">
<meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
<meta property="og:title" content="Reformas integrales baños Gijón"/>
<meta property="og:url" content="https://pavimentosgijon.es" />
<meta property="og:site_name" content="Tienda de baño en gijón" />
<meta property="og:type" content="mainpage" />

<!-- page title -->
<title>Cambio de bañera por ducha en Gijón | Pavimentos Gijón</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
</head>
<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
  {% include 'apgijon/header.html.twig' %}
<!-- ================ Header end ================ --> 

<!-- ================ inner page header ================ -->
<div class="inner-page-title inner-page-header-bg">
  <div class="container">
    <div class="inner-page-title-c">
      <h1>Cambiar bañera por ducha en Gijón</h1>
      <div class="breadcrumb-box"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage')}}"><i class="bi bi-house"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Cambio bañera por ducha</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- ================ inner page header end ================ --> 

<!-- ================ Single services page ================ -->
<div class="single-services-page pt-70 pb-40">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <aside> 
                    <!-- sidebar widget -->
          <div class="s-sidebar-widget mb-30">
            <h3>Pídenos presupuesto</h3>
          <!-- sidebar contcat -->
            <div class="sidebar-contcat">        
              <!-- contact form -->

              {{ form_start(form, {'attr' : { 'class': 'contact-form'}}) }}
              <!--<form class="contact-form" id="contact-form" method="post" action="contact.php" enctype="multipart/form-data">-->
                <div class="row">
                    <div class="mb-3">
          
                      <input type="text" class="form-control" name="{{ field_name(form.nombre)}}" placeholder="{{ field_label(form.nombre)}}" required data-error="Nombre no informado.">
                      <div class="help-block with-errors"></div>
                    </div>
                    <div class="mb-3">
                      <input type="email" class="form-control" name="{{ field_name(form.email)}}" placeholder="{{ field_label(form.email)}}" required data-error="Email is required.">
                      <div class="help-block with-errors"></div>
                    </div>

                </div>
                
                <div class="mb-3">
                  <input type="text" placeholder="{{ field_label(form.telefono)}}" name="{{ field_name(form.telefono)}}" class="form-control" required data-error="Phone is required.">
                  <div class="help-block with-errors"></div>
                </div>
                <div class="mb-3">
                  <textarea class="form-control" rows="3" name="{{ field_name(form.pregunta)}}" placeholder="{{ field_label(form.pregunta)}}" required data-error="Message is required."></textarea>
                  <div class="help-block with-errors"></div>
                </div>
                <div class="call-us-widget">
                  <button type="submit" id="consultas_submit"  class="save btn btn-style-1 w-100">Pedir presupuesto</button>
                </div>
                {{ form_end(form) }}
              <!-- contact form end --> 
            </div>
            <!-- sidebar contcat end --> 
          </div>
          <!-- sidebar widget end --> 
          
          <!-- sidebar widget -->
          <div class="s-sidebar-widget mb-30">
            <h3>Necesitas ayuda!</h3>
            <!-- call us widget -->
            <div class="call-us-widget">
              <ul class="mb-20">
                <li>También puedes escribirnos un mail a la dirección.</li>
                <a href="mailto:buzon@pavimentosgijon.es"><p>buzón@pavimentosgijon.es</p></a>
              </ul>
              <a href="mailto:buzon@pavimentosgijon.es" class="btn-style-1 w-100">Enviar Mail</a> </div>
            <!-- call us widget end --> 
          </div>
          <!-- sidebar widget end --> 
        </aside>
      </div>
      <div class="col-lg-9 mb-30"> 
        <!-- single service content -->
        <div class="single-service-content">
          <div class="single-service-img mb-20"><img src="{{ asset('/Light-HTML/img/services/duchaporbaneraCabecera.jpeg')}}" alt="Cambio de bañera por ducha en Gijón"></div>
          <h2 class="mb-15">Cambiar bañera por ducha: Nuestro Proceso</h2>
          <p>Bienvenido a Pavimentos Gijón, donde hacemos posible la transformación de tu baño de una manera accesible, segura y estéticamente impresionante al cambiar la bañera por una ducha. Aquí te presentamos un paso a paso detallado de nuestro proceso.</p>
          <p class="position-relative"><span class="p-quote">1</span><b>Visita de Medición</b> Iniciamos el proceso con una visita a tu hogar para realizar una medición precisa y una evaluación de las condiciones existentes. Esto nos permite entender el espacio y cualquier posible desafío estructural, asegurando una planificación adecuada para la instalación del plato de ducha antideslizante..</p>
          <p class="position-relative"><span class="p-quote">2</span><b>Asesoramiento personalizado</b> Durante la visita, nuestro equipo te asesorará sobre las opciones disponibles para el plato de ducha, mamparas sin perfilería, y otros elementos que se ajusten a tus necesidades y preferencias. Nos aseguramos de ofrecer soluciones estéticas, seguras y accesibles.</p>          
          <p class="position-relative"><span class="p-quote">3</span><b>Entrega presupuesto transparente</b> Después de la fase de asesoramiento, te entregamos un presupuesto detallado y transparente que refleja todos los aspectos del proyecto. Nos esforzamos por ser claros desde el principio, evitando en el 99 % de los casos sobrecostes sorpresa. Queremos que tengas una comprensión completa de la inversión necesaria. </p>
          <p class="position-relative"><span class="p-quote">4</span><b>Aprobación y fijación de fechas</b> Una vez que has revisado y aprobado el presupuesto, colaboramos contigo para fijar las fechas de ejecución. Nos esforzamos por trabajar dentro de tus plazos y minimizar cualquier inconveniente durante la instalación.</p>                     
          <p class="position-relative"><span class="p-quote">5</span><b>Ejecución profesional</b> Nuestro equipo altamente experimentado se encarga de la instalación del plato de ducha antideslizante, la mampara sin perfilería y cualquier otro componente necesario. Esta actuación generalmente no lleva más de dos días y transformará tu baño de manera significativa.</p>                     

            <p>En Pavimentos Gijón, nos enorgullece ofrecer soluciones que mejoran la funcionalidad y la estética de tu baño de manera rápida y accesible. Permítenos hacer de tu baño un espacio seguro, estilizado y adaptado a tus necesidades.</p>                               
          
          </div>
        </div>
        <!-- single service content end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Single services page end ================ --> 
<!-- ================ Gallery page ================ -->
<div class="gallery-page pt-70 pb-40">
  <div class="container">
    <h3 class="mb-15">Nuestros trabajos en cambios de bañera por ducha</h3>  
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-2 row-cols-1">
      <div class="col mb-30"> 
        <!-- gallery box -->
        <div class="gallery-box">
          <div class="image"><img src="{{ asset('/Light-HTML/img/gallery/plato1-mini.jpeg')}}" alt="Cambio de bañera por ducha económica en Gijón"></div>
          <a href="{{ asset('/Light-HTML/img/gallery/plato1.jpeg')}}" class="zoom venobox" data-gall="gallery1"><i class="bi bi-camera"></i></a> 
        </div>
        <!-- gallery box --> 
        <div class="blog-item-content">
            <h6><a href="{{ asset('/Light-HTML/img/gallery/plato1.jpeg')}}" class="zoom venobox" data-gall="gallery1">Cambiar bañera por ducha</a></h6>
            <p>Cambio de bañera por plato de ducha económico, mamapara frontal, sin desplazar grifo</p>
          </div>         
      </div>

      <div class="col mb-30"> 
        <!-- gallery box -->
        <div class="gallery-box">
          <div class="image"><img src="{{ asset('/Light-HTML/img/gallery/plato2-mini.jpeg')}}" alt="Cambio de bañera por ducha presupuesto en Gijón"></div>
          <a href="{{ asset('/Light-HTML/img/gallery/plato2.jpeg')}}" class="zoom venobox" data-gall="gallery1"><i class="bi bi-camera"></i></a> 
        </div>
        <!-- gallery box --> 
        <div class="blog-item-content">
            <h6><a href="{{ asset('/Light-HTML/img/gallery/plato2.jpeg')}}" class="zoom venobox" data-gall="gallery1">Cambiar bañera por ducha</a></h6>
            <p>Cambio de bañera por plato de ducha económico, con corte a medida del plato y sustitución de grifería por termostático</p>
          </div>         
      </div>      

      

    </div>
  </div>
</div>
<!-- ================ Gallery page end ================ --> 

<!-- ================ Call us area ================ -->
<div class="call-us-area">
  <div class="container">
    <div class="call-us-text">También por whatsapp  <a href="https://api.whatsapp.com/send/?phone=684608811" target="_blank"><i class="bi bi-whatsapp"></i> 684 608 811</a></div>
  </div>
</div>
<!-- ================ Call us area end ================ -->

<!-- ================ Footer area ================ -->
  {% include 'apgijon/footer.html.twig' %}
<!-- ================ Footer area end ================ --> 
<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>
</body>
</html>