<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="Reformas de baños, Gijón, diseño de baños, remodelación de cuartos de baño, accesorios de baños, decoración de interiores, presupuesto gratuito, azulejos para baños, platos de ducha, sanitarios, grifería de baño, instalación de bañeras, renovación de cuartos de baño, expertos en baños, calidad en reformas." name="keywords">
<meta content="Descubre en Gijón la excelencia en reformas de baños, especialistas en cambio de bañera por ducha y expertos en la instalación de mamparas de baño. Transformamos espacios con calidad y dedicación, creando proyectos a medida que superan tus expectativas. Confía en nuestro equipo para dar vida a tu visión de un baño perfecto." name="description">
<meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
<meta property="og:title" content="Reformas integrales baños Gijón"/>
<meta property="og:url" content="https://www.pavimentosgijon.es" />
<meta property="og:site_name" content="Tienda de baño en gijón" />
<meta property="og:type" content="mainpage"/>
<meta name="google-site-verification" content="CmHAjduH_5Xi65uGO9HjE2KDDG5Oh8H6-GtPlf_qOv8"/>

<!-- page title -->
<title>Pavimentos Gijón: Muebles, Espejos, Accesorios y Reformas</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
</head>

<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
  {% include 'apgijon/header.html.twig' %}
<!-- ================ Header end ================ --> 

<!-- ================ Slider ================ -->
<div class="slider">
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active slider-one">
        <div class="carousel-caption">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h6>Reformas integrales</h6>
                <h5>Reformar baño en Gijón</h5>
                <p> En Pavimentos Gijón, nos especializamos en el diseño y ejecución de proyectos de reforma que abarcan desde la selección de los mejores materiales hasta la instalación experta</p>
                <a class="btn-style-1" href="{{ path('integral')}}">Ver más <i class="bi bi-arrow-right"></i></a> </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner-img"><img fetchpriority="high"  src="{{ asset('/Light-HTML/img/slider/Mueble Baño y Mampara de Baño.webp')}}" alt="Reforma baño realizada por Pavimentos gijón"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item slider-two">
        <div class="carousel-caption">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h6>Bañera por ducha</h6>
                <h5>Cambiar bañera por ducha en gijon</h5>
                <p>En Pavimentos Gijón, nos especializamos en la transformación de espacios de baño, ofreciendo servicios especializados para reemplazar tu antigua bañera con una ducha elegante y funcional.</p>
                <a class="btn-style-1" href="{{ path('platoducha')}}">Ver más <i class="bi bi-arrow-right"></i></a> </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner-img"><img fetchpriority="low"  src="{{ asset('/Light-HTML/img/slider/Plato de ducha.webp')}}" alt="Cambio bañera por ducha realizada por Pavimentos gijón"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item slider-three">
        <div class="carousel-caption">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h6>Todo para el baño</h6>
                <h5>Mamparas de baño, muebles, espejos y accesorios </h5>
                <p>Descubre la elegancia funcional para tu baño: Mamparas, Muebles, Espejos y Accesorios de calidad excepcional en Pavimentos Gijón. Transforma tu espacio personal con nuestra selección cuidadosamente elegida</p>
                <a class="btn-style-1" href="#">Ver más <i class="bi bi-arrow-right"></i></a> </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner-img"><img fetchpriority="low"  src="{{ asset('/Light-HTML/img/slider/Accesorios.webp')}}" alt="Mueble de baño casa de Mibaño, proveedor de Pavimentos gijón"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev"> <i class="bi bi-arrow-left"></i> </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next"> <i class="bi bi-arrow-right"></i> </button>
  </div>
</div>
<!-- ================ Slider end ================ --> 



<!-- ================ Services area ================ -->
<div class="services-area pt-70 pb-40">
  <div class="container"> 
    <!-- section title -->
    <div class="section-title text-center mb-40">
      <div class="small-title">Reformas integrales Gijón</div>
      <h1>Reformas baños en Gijón</h1>
    </div>
    <!-- section title end -->
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1">
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/ReformaIntegralBano.webp')}} alt="Reforma integral opinion Google"> <a href="{{ path('integral')}}" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="{{ path('integral')}}">Reformar baño en Gijón</a></h4>
            <p>Desde diseño personalizado hasta instalaciones de alta calidad, nos comprometemos a superar tus expectativas. Descubre la excelencia en cada detalle con nuestro equipo de expertos en remodelación de baños.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/Duchaporbanera.webp')}} alt="Cambio ducha por bañera"> <a href="{{ path('platoducha')}}" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="{{ path('platoducha')}}">Cambio bañera por ducha</a></h4>
            <p>Moderniza tu baño en Gijón con nuestro servicio especializado de cambio de bañera por ducha. Mejora la accesibilidad y el estilo, transformando tu espacio de baño de manera rápida y eficiente.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/Mampara.webp')}} alt="Mampara de baño"> <a href="#" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="#">Mamparas de baño</a></h4>
            <p>Descubre la elegancia y seguridad en cada rincón de tu baño con nuestras mamparas de baño modernas. Nuestras soluciones combinan estilo y funcionalidad, ofreciendo una experiencia de ducha única.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/Accesorios.webp')}} alt="Accesorios de baño"> <a href="#" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="#">Accesorios de baño</a></h4>
            <p>Explora nuestra selección de accesorios de baño que no solo agregan estilo, sino que también destacan por su calidad duradera. Nuestros productos están diseñados para resistir el paso del tiempo, brindando funcionalidad y estética.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/griferias.webp')}} alt="Griferías"> <a href="#" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="#">Griferías cocina y baño</a></h4>
            <p>Experimenta el lujo en cada gota con nuestras griferías de baño: un equilibrio perfecto entre calidad y modernidad. Nuestras piezas destacan por su diseño vanguardista y durabilidad excepcional.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
      <div class="col mb-30"> 
        <!-- service box -->
        <div class="service-box">
          <div class="image"> <img src={{ asset('/Light-HTML/img/services/Muebles.webp')}} alt="Muebles y Espejos de baño"> <a href="#" class="btn-style-1 btn-sm"><i class="bi bi-arrow-right"></i></a> </div>
          <div class="caption">
            <h4><a href="#">Muebles y espejos de baño</a></h4>
            <p>Transforma tu baño con nuestra colección de muebles y espejos. Desde opciones elegantes y asequibles hasta piezas premium, ofrecemos soluciones para todos los gustos y presupuestos.</p>
          </div>
        </div>
        <!-- service box end --> 
      </div>
    </div>
  </div>
</div>
<!-- ================ Services area end ================ --> 

<!-- ================ Call us area ================ -->
<div class="call-us-area">
  <div class="container">
    <div class="call-us-text">Tienes alguna pregunta: Nuestro whatsapp  <a href="https://api.whatsapp.com/send/?phone=684608811" target="_blank"><i class="bi bi-whatsapp"></i> 684 608 811</a></div>
  </div>
</div>
<!-- ================ Call us area end ================ --> 
<!-- ================ About area ================ -->
<div class="about-area bg-light pt-70 pb-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mb-30">
        <div class="about-text">
          <h4>Sobre nosotros</h4>
          <h2 class="mb-20">Reformas de Baños en Gijón: Calidad y Experiencia a Tu Servicio</h2>
          <p>Bienvenido a Pavimentos Gijón, tu experto en reformas de baños en Gijón. Con más de tres décadas de experiencia, ofrecemos soluciones integrales para la renovación de tu espacio, garantizando funcionalidad y estilo. Nuestro equipo de profesionales especializados en diseño y construcción está listo para transformar tu baño, adaptándose a tus necesidades y presupuesto.</p>
          <ul class="d-inline-block w-100 mb-30">
            <li><i class="bi bi-check-circle-fill"></i> Experiencia Comprobada</li>
            <li><i class="bi bi-check-circle-fill"></i> Personalización Completa</li>
            <li><i class="bi bi-check-circle-fill"></i> Calidad Garantizada</li>
          </ul>
          <a class="btn-style-1" href="{{ path('aboutus')}}">Leer mas <i class="bi bi-arrow-right"></i></a> </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1 mb-30">
        <div class="about-img"> <img src={{ asset('/Light-HTML/img/about/nosotros.jpeg') }} alt="Fotos azulejos y pavimentos gijon">
          <div class="experience-div"> <strong>30+</strong>
            <p>Años de experiencia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ About area end ================ --> 

<!-- ================ Testimonial area ================ -->
<div class="testimonial-area pt-70 pb-70">
  <div class="container"> 
    <!-- section title -->
    <div class="section-title text-center mb-40">
      <div class="small-title">Que opinan de nosotros</div>
      <h2>Testimonios reales de nuestros de Nuestros Clientes</h2>
    </div>
    <!-- section title end -->
    <div class="testimonial-carousel owl-carousel owl-theme">
      <div class="item"> 
        <!-- testimonial box -->
        <div class="testimonial-box">
          <p>He  quedado encantada con la reforma integral de mi baño. Con la amabilidad y los buenos consejos de Alejandra y el buen hacer de albañil, fontaneros y colocadores, hace que formen un equipo perfecto. No conocía la empresa pero fue un gran acierto elegirlos. La relación calidad-precio es buena. Los recomendaría sin dudarlo.</p>
          <div class="profile-info">
            <div class="info-des">
              <h3>Chelo T.</h3>
              <span class="post">Cliente</span> </div>
          </div>
          <div class="author-img"><img src={{ asset('/Light-HTML/img/testimonial/avatar1.png')}} alt="Avatar 1 cliente"></div>
        </div>
        <!-- testimonial box end --> 
      </div>
      <div class="item"> 
        <!-- testimonial box -->
        <div class="testimonial-box">
          <p>Realice la reforma integral del baño hace 1 año con ellos.<br> Muy profesionales y trato excelente. Ejecución de la obra en tiempo. <br> Recomendable 100%. <br>&nbsp; <br> &nbsp; <br></p>
          <div class="profile-info">
            <div class="info-des">
              <h3>Laura B.</h3>
              <span class="post">Cliente</span> </div>
          </div>
          <div class="author-img"><img src={{ asset('/Light-HTML/img/testimonial/avatarL.png')}} alt="Avatar L cliente"></div>
        </div>
        <!-- testimonial box end --> 
      </div>
      <div class="item"> 
        <!-- testimonial box -->
        <div class="testimonial-box">
          <p>Tras comparar varios presupuestos en varios sitios para la reforma de nuestro baño, nos decidimos por este negocio, no era el más barato de los presupuestos, tampoco el más caro, pero si que nos dio impresión de más seriedad y profesionalidad. No nos equivocamos, cumplieron la obra en fecha y plazo  y el baño quedó estupendo. Totalmente recomendable.</p>
          <div class="profile-info">
            <div class="info-des">
              <h3>Fernando M.</h3>
              <span class="post">Cliente</span> </div>
          </div>
          <div class="author-img"><img src={{ asset('/Light-HTML/img/testimonial/avatarF.png')}} alt="Avatar F cliente"></div>
        </div>
        <!-- testimonial box end --> 
      </div>
      <div class="item"> 
        <!-- testimonial box -->
        <div class="testimonial-box">
          <p>Me hicieron la reforma del baño fueron muy profesionales,los trabajadores y atención al cliente encantadores quede contenta los recomiendo.<br>&nbsp; <br> &nbsp; <br></p>
          <div class="profile-info">
            <div class="info-des">
              <h3>Maria Pereira Marques</h3>
              <span class="post">Cliente</span> </div>
          </div>
          <div class="author-img"><img src={{ asset('/Light-HTML/img/testimonial/avatarM.png')}} alt="Avatar M cliente"></div>
        </div>
        <!-- testimonial box end --> 
      </div>      
    </div>
  </div>
</div>
<!-- ================ Testimonial area end ================ --> 

<!-- ================ About area ================ -->
<div class="about-area bg-light pt-70 pb-40">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-6 mb-30">
        <div class="about-text">
          <h4>Reformas de baños</h4>
          <h2 class="mb-20">Reformas Integrales: Transforma Tu Espacio</h2>
          <p>¿Necesitas una reforma completa? Nos especializamos en transformaciones radicales, ofreciendo diseños personalizados y soluciones prácticas que se adaptan a tu estilo de vida. Ya sea que prefieras un ambiente moderno o un toque clásico, estamos aquí para asesorarte en cada paso.</p>
          <ul class="d-inline-block w-100 mb-30">
            <li><i class="bi bi-check-circle-fill"></i> Soluciones Llave en Mano</li>
            <li><i class="bi bi-check-circle-fill"></i> Optimización del Espacio</li>
            <li><i class="bi bi-check-circle-fill"></i> Innovación y Tendencia</li>
          </ul>
          <a class="btn-style-1" href="{{ path('integral')}}">Leer mas <i class="bi bi-arrow-right"></i></a> </div>
      </div>
      <div class="col-lg-5 col-md-6 offset-lg-1 mb-30">
        <div class="about-img"> <img src={{ asset('/Light-HTML/img/about/nosotros-2.jpeg') }} alt="Fotos azulejos y pavimentos gijon">
          <div class="experience-div"> <strong>30+</strong>
            <p>Años de experiencia</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- ================ About area end ================ --> 

<!-- ================ Footer area ================ -->
  {% include 'apgijon/footer.html.twig' %}
<!-- ================ Footer area end ================ --> 

<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->



<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WH8B9E41FY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WH8B9E41FY');
</script>

<script language = "javascript">
    $(document).ready(function(){   


    // Obtener la URL actual en Symfony y normalizarla
    var urlActual = "{{ url(app.request.attributes.get('_route')) | replace({'https://127.0.0.1:8000': '', 'https://www.pavimentosgijon.es': ''}) }}";
    
    // Obtener todas las etiquetas <a> con la clase "nav-link"
    var enlacesNav = document.querySelectorAll('a.nav-link');

    // Recorrer los enlaces y agregar la clase "active" al enlace correspondiente
    enlacesNav.forEach(function(enlace) {
        // Obtener el atributo "href" del enlace y normalizarlo
        var hrefEnlace = enlace.getAttribute('href');
        console.log(hrefEnlace);
        console.log(urlActual);
        // Comparar el atributo "href" con la URL actual
        if (urlActual == hrefEnlace) {

           console.log("coincide");
            // Si hay coincidencia, agregar la clase "active" al enlace
            var liPadre = enlace.parentNode;
            liPadre.classList.add('active');            

        }
    });
    


      });  
</script> 
</body>
</html>