{% extends 'pages.html.twig' %}
{% block cabecera %} Tickets {% endblock %}
{% block breadcrumb %} <li class="breadcrumb-item active">Tickets</li>{% endblock %}
{% block title %}Tickets{% endblock %}
{% block tablas %}

                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Tickets</h4>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="default_order" class="table table-striped table-bordered display"
                                        style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Estado</th>
                                                    <th>UserCs</th>
                                                    <th>FechaCs</th>
                                                    <th>ImporteTotCs</th>
                                                    <th>DescuentoCs</th>
                                                    <th>TipopagoCs</th>
                                                    <th>NumticketCs</th>
                                                    <th>TimestampCs</th>
                                                    <th>Acciones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for cestar in cestasnal %}
                                                <tr>
                                                    <td>{{ cestar.id }}</td>
                                                    <td>{{ cestar.estadoCs }}</td>
                                                    <td>{{ cestar.userCs }}</td>
                                                    <td>{{ cestar.fechaCs ? cestar.fechaCs|date('Y-m-d') : '' }}</td>
                                                    <td align="right">{{ cestar.importeTotCs|format_currency('EUR', locale='en')  }}</td>
                                                    <td>{{ cestar.descuentoCs }}</td>
                                                    <td>{{ cestar.tipopagoCs }}</td>
                                                    <td> 
                                                        <a href ="/Tickets/{{ cestar.numticketCs }}" target="_blank" >{{ cestar.numticketCs }}</a>
                                                    </td>
                                                    <td>{{ cestar.timestampCs ? cestar.timestampCs|date('Y-m-d H:i:s') : '' }}</td>
                                                    <td>
                                                        <a href="{{ path('cesta_senal', {'id': cestar.id}) }}" class="text-inverse pr-2"
                                                                data-toggle="tooltip" title="Cerrar señal">
                                                                <i class="ti-link"></i>
                                                        </a> 
                                                        <a href="{{ path('cesta_tipopago', {'id': cestar.id}) }}" class="text-inverse pr-2"
                                                                data-toggle="tooltip" title="Cambiar tipo pago">
                                                                <i class="ti-exchange-vertical"></i>
                                                        </a> 
                                                    </td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                         <a href="{{ path('cestas_new') }}">Create new</a>
                                </div>

                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <!-- Footer callback -->

                                <h4 class="card-title">Tickets</h4>
                                <h6 class="card-subtitle"></h6>
                                <div class="table-responsive">
                                    <table id="default_order2" class="table table-striped table-bordered display"
                                        style="width:100%">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th>Estado</th>
                                                    <th>UserCs</th>
                                                    <th>FechaCs</th>
                                                    <th>ImporteTotCs</th>
                                                    <th>DescuentoCs</th>
                                                    <th>TipopagoCs</th>
                                                    <th>NumticketCs</th>
                                                    <th>TimestampCs</th>
                                                    <th>actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% for cesta in cestas %}
                                                <tr>
                                                    <td>{{ cesta.id }}</td>
                                                    <td>{{ cesta.estadoCs }}</td>
                                                    <td>{{ cesta.userCs }}</td>
                                                    <td>{{ cesta.fechaCs ? cesta.fechaCs|date('Y-m-d') : '' }}</td>
                                                    <td align="right">{{ cesta.importeTotCs|format_currency('EUR', locale='en')  }}</td>
                                                    <td>{{ cesta.descuentoCs }}</td>
                                                    <td>{{ cesta.tipopagoCs }}</td>
                                                    <td> 
                                                        <a href ="/Tickets/{{ cesta.numticketCs }}" target="_blank" >{{ cesta.numticketCs }}</a>
                                                    </td>
                                                    <td>{{ cesta.timestampCs ? cesta.timestampCs|date('Y-m-d H:i:s') : '' }}</td>
                                                    <td>

                                                        <a href="{{ path('cesta_tipopago', {'id': cesta.id}) }}" class="text-inverse pr-2"
                                                                data-toggle="tooltip" title="Cambiar tipo pago">
                                                                <i class="ti-exchange-vertical"></i>
                                                        </a> 
                                                        <i class="text-inverse pr-2" data-toggle="tooltip" title="Borrar cesta" name="delete_detalle" id="{{ cesta.id }}">
                                                                <i class="ti-trash"></i>
                                                        </i> 

                                                    </td>
                                                </tr>
                                            {% else %}
                                                <tr>
                                                    <td colspan="9">no records found</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>

                                         <a href="{{ path('cestas_new') }}">Create new</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock %}

{% block formulario %}{% endblock %}

{% block jscustom %}

    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}" ></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{{ asset('assets/libs/popper.js/dist/umd/popper.min.js') }}"></script>
    <script src="{{ asset('assets/libs/bootstrap/dist/js/bootstrap.min.js') }}"></script>
    <!-- apps -->
    <script src="{{ asset('dist/js/app.min.js') }}"></script>
    <script src="{{ asset('dist/js/app.init.js') }}"></script>
    <script src="{{ asset('dist/js/app-style-switcher.js') }}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{{ asset('assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js') }}"></script>
    <script src="{{ asset('assets/extra-libs/sparkline/sparkline.js') }}"></script>
    <!--Wave Effects -->
    <script src="{{ asset('dist/js/waves.js') }}"></script>
    <!--Menu sidebar -->
    <script src="{{ asset('dist/js/sidebarmenu.js') }}"></script>
    <!--Custom JavaScript -->
    <script src="{{ asset('dist/js/feather.min.js') }}"></script>
    <script src="{{ asset('dist/js/custom.min.js') }}"></script>
    <!--This page plugins -->
    <script src="{{ asset('assets/libs/datatables/media/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/custom-datatable.js') }}"></script>
    <script src="{{ asset('dist/js/pages/datatable/datatable-api.init.js') }}"></script>
    <script src="{{ asset('assets/libs/sweetalert2/dist/sweetalert2.all.min.js') }}"></script>
    <script src="{{ asset('assets/extra-libs/sweetalert2/sweet-alert.init.js') }}"></script>
    
    <!--Custom JavaScript -->
    
    <script language = "javascript">
    $(document).ready(function(){   
        /****************************************
        *       Default Order Table           *
        ****************************************/
        $('#default_order').DataTable({
            "order": [
                [2, "desc"],[0,"desc"]
            ]
        });

        /****************************************
        *       Default Order Table           *
        ****************************************/
        $('#default_order2').DataTable({
            "order": [
                [2, "desc"],[0,"desc"]
            ]
        });

        /****************************************
        *      Eliminar un cesta                *
        *****************************************/

        $(document).on('click', 'i[name="delete_detalle"]' , async function(event) {
            let id = this.id;
                console.log (id);

            const swalWithBootstrapButtons = await Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'mr-2 btn btn-danger'
                },
                buttonsStyling: false,
            })

            await swalWithBootstrapButtons.fire({
                title: 'Borrado de tickets',
                text: "Se va a borrar el ticket " + id + " ",
                type: 'question',
                showCancelButton: true,
                confirmButtonText: 'Adelante',
                cancelButtonText: 'Noooo',
                reverseButtons: true
            }).then((result) => {
                
                if (result.value) {

                    delete_line(id);
                }
            })

            
        })
        

        function delete_line(id) 
        {
            $.ajax({  
               url:        '{{path("cesta_delete_ajax")}}',  
               type:       'GET',   
               data:        ({id: id}),
               dataType:   'json',  
               async:      true,  
               
               success: function(response) { 
                    let timerInterval
                    Swal.fire({
                    type: 'success',
                    title: 'Se ha borrado correctamente!',
                    html: 'Se cerrara en breve',
                    timer: 2000,
                    showConfirmButton: false,
                    timerProgressBar: true,
                    willClose: () => {
                        clearInterval(timerInterval)
                    }
                    }).then((result) => {
                    /* Read more about handling dismissals below */
                    if (result.dismiss === Swal.DismissReason.timer) {
                        location.reload();
                    }
                    })
                   
               },  
               error : function(xhr, textStatus, errorThrown) {  
                  alert(textStatus);  
               }  
            }); 
        };  

      });  
   </script> 
{% endblock %}