<div class="factura">

    {# CABECERA #}
    <table class="cabecera">
        <tr>
            <td style="width: 55%; vertical-align: top;">
                <div class="empresa">
                    PAVIMENTOS GIJÓN
                </div>

                <div class="empresa-datos">
                    Av. Schultz nº 28 Bajo · Gijón<br>
                    NIF: 53543499M<br>
                    Teléfono: 985 39 13 26
                </div>
            </td>

            <td style="width: 45%; vertical-align: top;">
                <div class="titulo-factura">
                    FACTURA
                </div>

                <div class="numero-factura">
                    {{ factura.numeroFormateado }}
                </div>

                <div class="fecha-factura">
                    Fecha:
                    {{ factura.fechaEmision|date('d/m/Y') }}
                </div>
            </td>
        </tr>
    </table>


    {# CLIENTE #}
    <table class="cliente-box">
        <tr>
            <td>
                <div class="cliente-label">
                    Destinatario
                </div>

                {% if factura.cliente %}

                    <div class="cliente-nombre">
                        {{ factura.cliente.nombreCl }}
                        {{ factura.cliente.apellidosCl }}
                    </div>

                    {% if factura.cliente.dni is defined
                        and factura.cliente.dni %}
                        <div class="cliente-dato">
                            NIF/DNI: {{ factura.cliente.dni }}
                        </div>
                    {% else %}
                        <div class="cliente-dato">
                            NIF/DNI: No disponible
                        </div>
                    {% endif %}

                    {% if factura.cliente.direccionCl is defined
                        and factura.cliente.direccionCl %}
                        <div class="cliente-dato">
                            {{ factura.cliente.direccionCl }}
                        </div>
                    {% endif %}


                {% else %}

                    <div class="cliente-nombre">
                        Sin cliente asignado
                    </div>

                {% endif %}
            </td>
        </tr>
    </table>


    {# LÍNEAS #}
    <table class="lineas">
        <thead>
            <tr>
                <th class="descripcion">
                    Concepto
                </th>

                <th class="cantidad">
                    Cant.
                </th>

                <th class="precio">
                    Precio
                </th>

                <th class="iva">
                    IVA
                </th>

                <th class="importe">
                    Importe
                </th>
            </tr>
        </thead>

        <tbody>

        {% for linea in factura.lineas %}

            <tr>
                <td class="descripcion">
                    {{ linea.descripcion }}
                </td>

                <td class="cantidad">
                    {{ linea.cantidad|number_format(2, ',', '.') }}
                </td>

                <td class="precio">
                    {{ linea.precioUnitario|number_format(2, ',', '.') }} €
                </td>

                <td class="iva">
                    {{ linea.tipoIva|number_format(0, ',', '.') }} %
                </td>

                <td class="importe">
                    {{ linea.subtotal|number_format(2, ',', '.') }} €
                </td>
            </tr>

        {% endfor %}

        </tbody>
    </table>


    {# TOTALES #}
    <div class="totales-wrapper">

        <table class="totales">

            <tr>
                <td>
                    Base imponible
                </td>

                <td class="text-end">
                    {{ factura.baseImponible|number_format(2, ',', '.') }} €
                </td>
            </tr>

            <tr>
                <td>
                    IVA
                </td>

                <td class="text-end">
                    {{ factura.totalIva|number_format(2, ',', '.') }} €
                </td>
            </tr>

            <tr class="total-final">
                <td>
                    TOTAL
                </td>

                <td class="text-end">
                    {{ factura.total|number_format(2, ',', '.') }} €
                </td>
            </tr>

        </table>

    </div>


    {# NOTAS #}
    {% if factura.notas %}
        <div class="notas">
            <strong>Observaciones:</strong><br>
            {{ factura.notas|nl2br }}
        </div>
    {% endif %}

</div>