{% extends 'base.html.twig' %}

{% block title %}Forecast{% endblock %}
{% block cabecera %}Forecast{% endblock %}
{% block breadcrumb %}<li class="breadcrumb-item active">Forecast</li>{% endblock %}

{% block body %}
    <div class="row">

        {# Tabla de previsiones #}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Previsiones de movimientos</h3>
                    <h6 class="card-subtitle">Previsión de movimientos facturas gastos ingresos...</h6>
                    <div class="table-responsive">
                        <table id="default_order" class="table table-striped table-bordered display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Concepto</th>
                                    <th>Fecha</th>
                                    <th>Importe</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for forecast in forecasts %}
                                    <tr>
                                        <td>{{ forecast.id }}</td>
                                        <td>{{ forecast.conceptoFr }}</td>
                                        <td class="text-right">{{ forecast.fechaFr ? forecast.fechaFr|date('Y-m-d') : '' }}</td>
                                        <td class="text-right">{{ forecast.importeFr|format_currency('EUR', locale='es') }}</td>
                                        <td>
                                            <a href="{{ path('forecast_conciliar', {'id': forecast.id, 'estado': 'C'}) }}"
                                               class="text-inverse pr-2" data-toggle="tooltip" title="Conciliar">
                                                <i class="ti-link"></i>
                                            </a>
                                            <a href="{{ path('forecast_conciliar', {'id': forecast.id, 'estado': 'D'}) }}"
                                               class="text-inverse pr-2" data-toggle="tooltip" title="Eliminar">
                                                <i class="ti-trash"></i>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="{{ path('forecast_new') }}">Crear nuevo</a>
                    </div>
                </div>
            </div>
        </div>

        {# Tabla de movimientos bancarios #}
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Movimientos del Banco</h3>
                    <h6 class="card-subtitle">Movimientos actuales en la cuenta bancaria</h6>
                    <div class="table-responsive">
                        <table id="default_order2" class="table table-striped table-bordered display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Concepto</th>
                                    <th>Fecha</th>
                                    <th>Categoría</th>
                                    <th>Importe</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for banco in bancos %}
                                    <tr>
                                        <td>{{ banco.id }}</td>
                                        <td>{{ banco.conceptoBn|slice(0, 20) }}</td>
                                        <td class="text-center">{{ banco.fechaBn ? banco.fechaBn|date('Y-m-d') : '' }}</td>
                                        <td>{{ banco.categoriaBn }}</td>
                                        <td class="text-right">{{ banco.importeBn|format_currency('EUR', locale='es') }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block jscustom %}
    <script src="{{ asset('assets/extra-libs/datatables.net-bs4/js/dataTables.responsive.min.js') }}"></script>

    <script>
    $(document).ready(function () {

        $('#default_order').DataTable({
            order: [[2, 'asc']],
            language: {
                emptyTable: 'No hay previsiones',
                url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
            }
        });

        $('#default_order2').DataTable({
            order: [[2, 'desc']],
            language: {
                emptyTable: 'No hay movimientos bancarios',
                url: '//cdn.datatables.net/plug-ins/1.10.16/i18n/Spanish.json'
            }
        });

    });
    </script>
{% endblock %}

