<!DOCTYPE html>
<html lang="es">
{% set headerImage = post.images|filter(image => image.imageType == 'header')|first %}
{% set ogimage = post.images|filter(image => image.imageType == 'ogimage')|first %}
{% set meses = {'January': 'Enero', 'February': 'Febrero', 'March': 'Marzo', 'April': 'Abril', 'May': 'Mayo', 'June': 'Junio', 'July': 'Julio', 'August': 'Agosto', 'September': 'Septiembre', 'October': 'Octubre', 'November': 'Noviembre', 'December': 'Diciembre'} %}
{% set fecha = post.publishedAt|date('j F') %}
{% set mes_en = post.publishedAt|date('F') %}

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="reformas de ba침os, Gij칩n, dise침o de ba침os, remodelaci칩n de cuartos de ba침o, accesorios de ba침os, decoraci칩n de interiores, presupuesto gratuito, azulejos para ba침os, platos de ducha, sanitarios, grifer칤a de ba침o, instalaci칩n de ba침eras, renovaci칩n de cuartos de ba침o, expertos en ba침os, calidad en reformas." name="keywords">
<meta content="{{post.metaDescription}}" name="description">
{% if headerImage %}
  <meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/" ~ ogimage.filePath /> 
{% else %}
  <meta property="og:image" content="https://www.pavimentosgijon.es/assets/images/logo.png" /> 
{% endif %}
<meta property="og:title" content="{{post.title}}"/>
<meta property="og:url" content="https://www.pavimentosgijon.es/" />
<meta property="og:site_name" content="Blog reformas de ba침o" />
<meta property="og:type" content="mainpage" />

<!-- page title -->
<title> {{ post.title }}</title>
<!-- favicon -->
<link rel="icon" type="image/png" sizes="16x16" href="{{ asset('/img/favicon.png')}}">
<!-- bootstrap core CSS -->
<link href="{{ asset('/Light-HTML/css/bootstrap.min.css')}}" rel="stylesheet" >
<!-- bootstrap icons -->
<link href="{{ asset('/Light-HTML/css/bootstrap-icons.css')}}" rel="stylesheet">
<!-- owl carousel -->
<link href="{{ asset('/Light-HTML/css/owl.carousel.min.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/owl.theme.default.min.css')}}" rel="stylesheet">
<!-- venobox css -->
<link href="{{ asset('/Light-HTML/css/venobox.css')}}" rel="stylesheet">
<!-- custom styles for this template -->
<link href="{{ asset('/Light-HTML/css/custom.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/responsive.css')}}" rel="stylesheet">
<link href="{{ asset('/Light-HTML/css/helper.css')}}" rel="stylesheet">
</head>

<body>
<!-- ================ Preloader ================ -->
<div id="preloader">
  <div class="spinner-grow" role="status"> <span class="visually-hidden">Loading...</span> </div>
</div>
<!-- ================ Preloader end ================ --> 

<!-- ================ Header ================ -->
  {% include 'apgijon/header.html.twig' %}
<!-- ================ Header end ================ -->   

<!-- ================ inner page header ================ -->
<div class="inner-page-title inner-page-header-bg">
  <div class="container">
    <div class="inner-page-title-c">
      <h1>{{ post.headerH1 }}</h1>
      <div class="breadcrumb-box"> 
        <!-- breadcrumb -->
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{{ path('homepage')}}"><i class="bi bi-house"></i> Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- ================ inner page header end ================ --> 

<!-- ================ Blog post page ================ -->
<div class="blog-post-page pt-70 pb-40">
  <div class="container">
    <div class="inner-page-title-c">
      <h2>{{ post.headerH2 }}</h2>
      <br>
    </div>   
    <div class="row">
    <div class="col-lg-3">
        <aside> 
          <!-- sidebar widget -->
        <div class="s-sidebar-widget mb-30 text-center">
          <h3>P칤denos presupuesto</h3>
          <p class="mb-3">Charla con nuestro asistente y obt칠n el presupuesto al momento.</p>

          <a class="btn-style-1 btn-cta-presupuesto" id="btnPresupuestoHero" href="{{ path('iapresupuesto') }}">
            游눫 Calcula tu presupuesto ahora
          </a>
        </div>
          <!-- sidebar widget end --> 

          <!-- sidebar widget -->
          <div class="s-sidebar-widget mb-30">
            <h3>Necesitas ayuda!</h3>
            <!-- call us widget -->
            <div class="call-us-widget">
              <ul class="mb-20">
                <li>Tambi칠n puedes escribirnos un mail a la direcci칩n.</li>
                <a href="mailto:buzon@pavimentosgijon.es"><p>buz칩n@pavimentosgijon.es</p></a>
              </ul>
              <a href="mailto:buzon@pavimentosgijon.es" class="btn-style-1 w-100">Enviar Mail</a> </div>
            <!-- call us widget end --> 
          </div>
          <!-- sidebar widget end --> 
        </aside>
      </div>          
      <div class="col-lg-9"> 
        <!-- blog post content -->
        <div class="blog-post-content mb-40">
        {% if headerImage %}
          <div class="blog-post-img mb-20"><img src="{{ asset('/Light-HTML/img/blog/'~ headerImage.filePath)}}" alt="{{headerImage.alt}}">
        {% endif %}
            <ul class="list-inline blog-post-meta">
              <li class="list-inline-item"><a href="#">{{ post.publishedAt|date('j') }} {{ meses[mes_en] }}, <span class="current-year"></span></a></li>
              <li class="list-inline-item"><a href="#">Plato de ducha</a></li>
              <li class="list-inline-item"><a href="#"><i class="bi bi-chat-right-dots"></i> 0</a></li>
            </ul>
          </div>
          <h6 class="mb-20">{{post.headerH3}}</h6>
            {{post.content |raw}}
      </div>
      
    </div>
  </div>
</div>
<!-- ================ Blog post page end ================ --> 


<!-- ================ Footer area ================ -->
  {% include 'apgijon/footer.html.twig' %}
<!-- ================ Footer area end ================ --> 
<!-- ================ Top scroll ================ --> 
<a href="#" class="scroll-top"><i class="bi bi-capslock"></i></a> 
<!-- ================ Top scroll end ================ -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<!-- js files --> 
<script src="{{ asset('/Light-HTML/js/jquery-3.6.0.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/bootstrap.bundle.min.js')}}"></script> 
<!-- counter js --> 
<script src="{{ asset('/Light-HTML/js/jquery-1.10.2.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/waypoints.min.js')}}"></script> 
<script src="{{ asset('/Light-HTML/js/jquery.counterup.min.js')}}"></script> 
<!-- venobox js --> 
<script src="{{ asset('/Light-HTML/js/venobox.min.js')}}"></script> 
<!-- owl carousel --> 
<script src="{{ asset('/Light-HTML/js/owl.carousel.min.js')}}"></script> 
<!-- sticky js --> 
<script src="{{ asset('/Light-HTML/js/jquery.sticky.js')}}"></script> 
<!-- script js --> 
<script src="{{ asset('/Light-HTML/js/custom.js')}}"></script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WH8B9E41FY"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WH8B9E41FY');
</script>
</body>
</html>